---
version: '3.1'

services:

  rastibot:
    image: {{ sbraticom_registry }}/rastibot:{{ rastibot_version }}
    environment:
      SPRING_PROFILES_ACTIVE: "{{ spring_profile }}"
      SPRING_BOOT_APPLICATION_NAME: "rastibot"
      LOGGING_CONFIG: "{{ logging_config }}"
      GOOGLE_APPLICATION_CREDENTIALS: "/etc/rastibot/creds/application-credentials.json"
      TELEGRAM_TOKEN: "{{ telegram_token }}"
      TELEGRAM_MODE: POLLING
      RASTIBOT_ADMIN_CHAT_ID: "{{ rastibot_admin_chat_id }}"
      RASTIBOT_AWARENESS_LEVEL: 1
      RASTIBOT_GOOGLE_CLOUD_PROJECT_ID: "{{ google_cloud_project_id }}"
      RASTIBOT_USER_SERVICE_URL: "rastibot-user-service:9294"
      RASTIBOT_BIRTHDAY_REMINDER_SERVICE_URL: "rastibot-birthday-reminder-service:9292"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_TOPICS_CHECK_BIRTHDAY_REMINDER_EXISTS: "prod-check-birthday-reminder-exists"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_TOPICS_CREATE_BIRTHDAY_REMINDER: "prod-create-birthday-reminder"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_TOPICS_BIRTHDAY_REMINDER_NOTIFICATION_ACTION: "prod-birthday-reminder-notification-action"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_TOPICS_LIST_BIRTHDAY_REMINDERS: "prod-list-birthday-reminders"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_TOPICS_DELETE_BIRTHDAY_REMINDER: "prod-delete-birthday-reminder"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_CHECK_BIRTHDAY_REMINDER_RESULT: "prod-check-birthday-reminder-exists-result-subscription"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_CREATE_BIRTHDAY_REMINDER_RESULT: "prod-create-birthday-reminder-result-subscription"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_BIRTHDAY_REMINDER_NOTIFICATION: "prod-birthday-reminder-notification-subscription"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_BIRTHDAY_REMINDER_NOTIFICATION_ACTION_RESULT: "prod-birthday-reminder-notification-action-result-subscription"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_LIST_BIRTHDAY_REMINDERS_RESULT: "prod-list-birthday-reminders-result-subscription"
      RASTIBOT_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_DELETE_BIRTHDAY_REMINDER_RESULT: "prod-delete-birthday-reminder-result-subscription"
    volumes:
      - ~/creds:/etc/rastibot/creds
    logging:
      driver: gcplogs
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: {{ deploy_restart_policy_delay }}
        max_attempts: {{ deploy_restart_policy_max_attempts }}
        window: {{ deploy_restart_policy_window }}

  rastibot-user-service:
    image: {{ sbraticom_registry }}/rastibot-user-service:{{ rastibot_user_service_version }}
    logging:
      driver: gcplogs
    environment:
      SPRING_PROFILES_ACTIVE: "{{ spring_profile }}"
      SPRING_BOOT_APPLICATION_NAME: "rastibot-user-service"
      LOGGING_CONFIG: "{{ logging_config }}"
      DATASOURCE_URL: "postgres-user-service:5432"
      DATASOURCE_DBNAME: "rastibot_user_service"
      DATASOURCE_PASSWORD: "postgres_user_service_password"

  rastibot-birthday-reminder-service:
    image: {{ sbraticom_registry }}/rastibot-birthday-reminder-service:{{ rastibot_birthday_reminder_service_version }}
    environment:
      SPRING_PROFILES_ACTIVE: "{{ spring_profile }}"
      SPRING_BOOT_APPLICATION_NAME: "rastibot-birthday-reminder-service"
      LOGGING_CONFIG: "{{ logging_config }}"
      GOOGLE_APPLICATION_CREDENTIALS: "/etc/rastibot/creds/application-credentials.json"
      DATASOURCE_URL: "postgres-birthday-reminder-service:5432"
      DATASOURCE_DBNAME: "rastibot_birthday_reminder_service"
      DATASOURCE_PASSWORD: "postgres_birthday_reminder_service_password"
      BIRTHDAY_REMINDER_GOOGLE_CLOUD_PROJECT_ID: "{{ google_cloud_project_id }}"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_TOPICS_CHECK_BIRTHDAY_REMINDER_EXISTS_RESULT: "prod-check-birthday-reminder-exists-result"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_TOPICS_CREATE_BIRTHDAY_REMINDER_RESULT: "prod-create-birthday-reminder-result"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_TOPICS_BIRTHDAY_REMINDER_NOTIFICATION: "prod-birthday-reminder-notification"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_TOPICS_BIRTHDAY_REMINDER_NOTIFICATION_ACTION_RESULT: "prod-birthday-reminder-notification-action-result"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_TOPICS_LIST_BIRTHDAY_REMINDERS_RESULT: "prod-list-birthday-reminders-result"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_TOPICS_DELETE_BIRTHDAY_REMINDER_RESULT: "prod-delete-birthday-reminder-result"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_CHECK_BIRTHDAY_REMINDER_EXISTS: "prod-check-birthday-reminder-exists-subscription"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_CREATE_BIRTHDAY_REMINDER: "prod-create-birthday-reminder-subscription"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_BIRTHDAY_REMINDER_NOTIFICATION_ACTION: "prod-birthday-reminder-notification-action-subscription"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_LIST_BIRTHDAY_REMINDERS: "prod-list-birthday-reminders-subscription"
      BIRTHDAY_REMINDER_SERVICE_GOOGLE_CLOUD_PUB_SUB_SUBSCRIPTIONS_DELETE_BIRTHDAY_REMINDER: "prod-delete-birthday-reminder-subscription"
      BIRTHDAY_REMINDER_SERVICE_SCHEDULE_BATCH_SIZE: 10
      BIRTHDAY_REMINDER_SERVICE_SCHEDULE_CRON: "{{ birthday_reminder_service_schedule_cron }}"
    volumes:
      - ~/creds:/etc/rastibot/creds
    logging:
      driver: gcplogs
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: {{ deploy_restart_policy_delay }}
        max_attempts: {{ deploy_restart_policy_max_attempts }}
        window: {{ deploy_restart_policy_window }}

  postgres-user-service:
    image: sameersbn/postgresql:10-2
    environment:
      DB_NAME: "rastibot_user_service"
      DB_USER: "rastibot-user-service"
      DB_PASS: "postgres_user_service_password"
    ports:
      - "5434:5432"
    volumes:
      - "ruserservice:/var/lib/postgresql"

  postgres-birthday-reminder-service:
    image: sameersbn/postgresql:10-2
    environment:
      DB_NAME: "rastibot_birthday_reminder_service"
      DB_USER: "rastibot-birthday-reminder-service"
      DB_PASS: "postgres_birthday_reminder_service_password"
    ports:
      - "5435:5432"
    volumes:
      - "rbreminderservice:/var/lib/postgresql"

volumes:
  ruserservice:
  rbreminderservice: